body{
    background-color: #eeeeee;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 4rem;
}
#imagelist{
    font-size: 0;
    width: 600px;
    margin: 0 auto;
    padding-top: 2rem;
}

#imagelist a{
    margin: 0;
    display: inline-block;
}

